{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">

    <form class="login" method="POST" action="{% url 'account_login' %}">
      <h3>Member Login</h3>
      <p>{% blocktrans %}Not a member? <a href="{{ signup_url }}">Join today</a>{% endblocktrans %}</p>
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-lg btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}
