/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Overriding color for more accessible contrast w/ background */
.muted-text {
    color: rgba(255, 255, 255, 0.75);
}

h1 {
    font-family: 'Bebas Neue';
    letter-spacing: .05rem;
    font-size: 4rem;
    text-decoration: underline .075rem solid #d383f8;
    text-underline-offset: .5rem;
}

h2 {
    font-family: 'Bebas Neue';
    letter-spacing: .04rem;
    font-size: 2.75rem;
    opacity: 92.5%;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.15rem;
    letter-spacing: .66px;
    color: #ffff;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    letter-spacing: .66px;
    color: rgba(255, 255, 255, 0.9);
}

a {
    font-weight: 900;
    color: #d383f8;
    text-decoration: none;
}

a:hover {
    color: #d383f8c1;
}

.darkg-bg {
    background-color: #181818;
}

.purp-bg {
    color: #d383f8;
}

.white-bg {
    background-color: #FBFAF5;
} 

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.15rem;
    letter-spacing: .66px;
    color: #ffff;
}

/* Navigation Styling */
.nav-bg {
    background-color: rgba(18, 18, 18, .9);
}

.nav-logo {
    width: 240px;
    height: 80px;
}

.menu-nav-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.65rem;
    letter-spacing: .66px;
    color: #FBFAF5;
}

.menu-nav-link:hover {
    color: #d383f8;
}

.user-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .5px;
    color: #d383f8;
}

.user-link:hover {
    color: #FBFAF5;
}

.login-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .5px;
    color: #FBFAF5;
    opacity: 0.75;
}

.login-link:hover {
    color: #FBFAF5;
    opacity: 1;
}

.nav-divider {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    color: #FBFAF5;
}

.navbar-toggler:focus {
    box-shadow: rgb(211 131 248 / 25%) 0px 54px 55px,
        rgb(211 131 248 / 12%) 0px -12px 30px,
        rgb(211 131 248 / 12%) 0px 4px 6px,
        rgb(211 131 248 / 17%) 0px 12px 13px,
        rgb(211 131 248 / 9%) 0px -3px 5px;
}

.navbar-toggler {
    font-size: 2rem;
    color: #FBFAF5;
    background-color: transparent;
    border: none;
}


/* Footer Styling */
.footer-container {
    margin-top: auto;
}

footer {
    color: #333333;
}

footer i {
    font-size: 2rem;
    color: #d383f8;
    transition: 0.35s;
}

footer i:hover {
    color: #7d0ab3;
}


/* Login/Logout/Sign-Up Page Styling */
.user-page {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.user-page form {
    background-color: #181818;
    color: white;
}

.user-page input {
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-weight: bold;
}

.user-page h3 {
    color: #d383f8;
}

.user-page label {
    display: block;
    margin-bottom: .25rem;
}

.user-page p {
    font-weight: bold;
    font-size: 1.25rem;
}

.user-page img {
    width: 225px;
    height: 150px;
}

.user-border {
    border-radius: .75rem;
}

.btn-user {
    background-color: #d383f8;
    color: #FBFAF5;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: .5rem 2rem;
    margin: 1rem 0;
}

.btn-user:hover {
    background-color: #d383f8c1;
}

.signup label {
    display: none;
}

.signup input {
    padding: .25rem 3rem;
    margin-bottom: .5rem;
}


/* 'Showcase' Page styling */
.hero-heading {
    width: 90vw;
}

.showcase-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(18, 18, 18)), url("https://res.cloudinary.com/dgxr5lnrt/image/upload/v1667305471/jorge-simmons-unsplash-resized_rsjaqy.png");
    height: 27.5vh;
}

.garage-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(18, 18, 18)), url("https://res.cloudinary.com/dgxr5lnrt/image/upload/v1667676799/patrik-storm-alstra-pictures-KswvseGgnlk-unsplash_uojhbi.jpg");
    height: 27.5vh;
}

.showcase-container {
    max-width: 1600px;
}

.card {
    height: 475px;
    width: 700px;
    margin: auto;
    max-width: 45vw;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #d383f8;
    transition: border-bottom .25s ease-in-out;
}

.card:hover {
    border-bottom: 2px solid #ffff;
}

.build-card {
    background-repeat: no repeat;
    background-size: cover;
    background-position: center center;
}

.showcase-image {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #181818;
    border-radius: 10px 10px 0 0;
}

.build-card-title h4 {
    color: #ffff;
    transition: color .2s ease-in-out;
}

.build-card-title h4:hover {
    color: #d383f8;
}

.card-body {
    background-color: #181818;
    color: #ffff;
    border-radius: 0 0 10px 10px;
}

.card-indicator {
    font-size: 1.75rem;
    margin: 0 2px;
}

.card-indicator a {
    color: white;
    transition: color .2s ease-in-out;
}

.card-indicator a:hover {
    color: #d383f8;
}


/* Styling of "add_build.html" */
.form-group {
    margin-bottom: 1.25rem;
}

form html body {
    max-width: 100%;
}

.requiredField {
    margin-bottom: .5rem;
}

.add_build_form h3 {
    text-decoration: underline .075rem solid #ffff;
    text-underline-offset: .5rem;
}

.add_build_form input[type="file"] {
    width: 225px;
}

.add_build_form input {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.add_build_form input[type="text"] {
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
}

.add_build_form input[type="number"] {
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
}

.add_build_form label {
    width: 100%;
    text-align: center;
}


/* Pagination Styling */
.pagination .btn-user {
    margin-right: .5rem;
    font-size: 1.33rem;
    border: none;
    padding: .5rem 1.35rem;
}

.pagination .btn-user:hover {
    color: #ffff;
}


/* deleteBuild Modal Styling */
.modal-content {
    border: 1px solid rgba(255, 255, 255, .85);
}

.modal-header {
    border-bottom: none;
    padding: 1rem 1rem 0;
}

.modal-header h3 {
    color: #d383f8;
}

.btn-close-modal {
    font-size: 1.85rem;
    margin-bottom: .25em;
    color: #ffff;
    opacity: .75;
    transition: opacity .2s ease-in-out;
}

.btn-close-modal:hover {
    opacity: 1;
    color: #ffff;
}

.modal-body {
    padding: 1em 1em 0;
}

.modal-footer {
    border-top: none;
    padding-bottom: 1.25em;
}

.modal-footer a {
    font-family: 'Bebas Neue';
    font-size: 1.3rem;
    letter-spacing: .5px;
}


/* Build Detail Styling  */
.build-detail h3 {
    text-decoration: underline .075rem solid #d383f8;
    text-underline-offset: .5rem;
}

.build-detail-pic {
    max-height: 37.5vh;
    width: 100%;
}


/* Comment Section Styling */
.comment-display {
    background-color: #282828;
}

.comment-name {
    font-weight: bold;
    color: #d383f8;
}

.comment-display p {
    margin-bottom: .33rem;
}


/* Media Queries For Responsive Design */
@media (max-width: 1200px) {
    .card {
        max-width: none;
    }
}

@media (max-width: 850px) {
    .card {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .card {
        height: 350px;
    }

    h4 {
        font-size: 1.5rem;
    }

    .card-indicator {
        font-size: 1.6rem;
    }
    .card-body {
        height: 66px;
    }
}

@media (max-width: 450px) {
    .card {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .add_build_form p {
        font-size: 1.05rem;
    }
}