/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1B1C1B;
    color: #333;
}

a {
    font-weight: 900;
    color: #d383f8;
    text-decoration: none;
}

a:hover {
    color: #7d0ab3;
}

.black-bg {
    background-color: #1B1C1B;
}

.white-bg {
    background-color: #FBFAF5;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: .66px;
    color: #1B1C1B;
}
/* Navigation Styling */
.nav-logo {
    width: 240px;
    height: 80px;
}

.menu-nav-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.65rem;
    letter-spacing: .66px;
    color: #FBFAF5;
}

.menu-nav-link:hover {
    color: #d383f8;
}

.user-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .5px;
    color: #d383f8;
}

.user-link:hover {
    color: #FBFAF5;
}

.login-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .5px;
    color: #FBFAF5;
    opacity: 0.75;
}

.login-link:hover {
    color: #FBFAF5;
    opacity: 1;
}

.nav-divider {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    color: #FBFAF5;
}

.navbar-toggler:focus {
    box-shadow: rgb(211 131 248 / 25%) 0px 54px 55px, 
    rgb(211 131 248 / 12%) 0px -12px 30px, 
    rgb(211 131 248 / 12%) 0px 4px 6px, 
    rgb(211 131 248 / 17%) 0px 12px 13px, 
    rgb(211 131 248 / 9%) 0px -3px 5px;
}

.navbar-toggler {
    font-size: 2rem;
    color: #FBFAF5;
    background-color: transparent;
    border: none;
}


/* Footer Styling */
footer i {
    font-size: 2rem;
    color: #d383f8;
    transition: 0.35s;
}

footer i:hover {
    color: #7d0ab3;
}

/* Login Page Styling */

.login-page {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.login-page form {
    background-color: #FBFAF5;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.login-page input {
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .25rem;
}


.login-border {
    border-radius: .75rem;
}

.btn-login {
    background-color: #d383f8;
    color: #FBFAF5;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}

.btn-login:hover {
    background-color: #532568;
    color: #FBFAF5;
}


