{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<section class="build-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mt-5 mx-auto">
                <!-- Build detail page showcasing all details of a member's build -->
                <div class="darkg-bg px-3 pt-3 pb-4 user-border mb-3">
                    <h3 class="display-2 mt-3 text-center">{{ build.year }} {{ build.make }} {{ build.model }}</h3>
                    <p class="mb-4 fs-5 text-center">Built by: {{ build.member | title }}</p>
                    <img src="{{ build.build_image.url }}" alt="Showcase Image of Member Build"
                        class="build-detail-pic mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <p class="my-auto ms-3">Last updated: {{ build.updated_date }}</p>
                        <div class="card-indicator btn-group my-auto">
                            <a href="#" class="me-3"><i class="fa-regular fa-heart fs-1"></i></a>
                            <a href="#"><i class="fa-regular fa-bookmark fs-1 me-3"></i></a>
                        </div>
                    </div>
                    <h2 class="text-center mb-1"> Build Overview:</h2>
                    <p class="muted-text">{{ build.overview | striptags }}</p>
                    <hr>
                    <h2 class="text-center mb-1">Mods and Specs:</h2>
                    <p class="muted-text">{{ build.specifications | striptags }}</p>
                    <hr>
                    <h2 class="text-center mb-1">Plans / Recommendations:</h2>
                    <p class="muted-text">{{ build.plans | striptags }}</p>
                </div>
                <div class="px-3 py-3 mt-3 mb-5 comment-section">
                    <div class="comment-display px-3 py-2 user-border">
                        <p class="comment-name">
                            RyanONeill416
                            <span class="muted-text comment-date ms-2">
                                4 days ago
                            </span>
                        </p>
                        <p>
                            I love this bodykit! Really makes a huge difference
                            to how the car looks and the color and wheel combo are to die for :)
                        </p>
                    </div>
                    <div class="comment-display px-3 py-2 mt-3 mb-5 user-border text-center">
                        {% if user.is_authenticated %}
                        <form method="post mx-auto">
                            <p>Leave a comment:</p>
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-user mb-2">Post</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}

{% endblock %}