{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="build-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mt-5 mx-auto">
                <!-- Build detail page showcasing all details of a member's build -->
                <div class="darkg-bg px-3 pt-3 pb-4 user-border mb-3">
                    <h1 class="display-2 mt-3 text-center">{{ build.year }} {{ build.make }} {{ build.model }}</h1>
                    <p class="mb-4 fs-5 text-center">Built by: {{ build.member | title }}</p>
                    <img src="{{ build.build_image.url }}" alt="Showcase Image of Member Build"
                        class="build-detail-pic mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <p class="my-auto ms-3">Last updated: {{ build.updated_date | timesince }}</p>
                        <div class="card-indicator btn-group my-auto">
                            <!-- Ability for a user to like the build -->
                            {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'build_like' build.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="userbuild_id" value="{{build.slug}}" class="btn-like"><i class="fa-solid fa-heart me-1" style="color: #ffff;"></i></button>
                                    {% else %}
                                    <button type="submit" name="userbuild_id" value="{{build.slug}}" class="btn-like"><i class="far fa-heart me-1" style="color: #ffff;"></i></button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <span><i class="far fa-heart me-2" style="color: #ffff;"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="fs-4 my-auto"> {{ build.number_of_likes }}</span>
                            <!-- Ability for a user to save the build -->
                            {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'build_save' build.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if saved %}
                                    <button type="submit" name="userbuild_id" value="{{build.slug}}" class="btn-like ms-3"><i class="fa-solid fa-bookmark" style="color: #ffff;"></i></button>
                                    {% else %}
                                    <button type="submit" name="userbuild_id" value="{{build.slug}}" class="btn-like ms-3"><i class="fa-regular fa-bookmark" style="color: #ffff;"></i></button>
                                    {% endif %}
                                </form>
                            {% else %}
                            <span><i class="fa-regular fa-bookmark ms-3" style="color: #ffff;"></i></span>
                            {% endif %}
                        </div>
                    </div>
                    <h2 class="text-center mb-1"> Build Overview:</h2>
                    <div class="build-details">
                        {{ build.overview | safe }}
                    </div>
                    <hr>
                    <h2 class="text-center mb-1">Mods and Specs:</h2>
                    <div class="build-details">
                        {{ build.specifications | safe }}
                    </div>
                    <hr>
                    <h2 class="text-center mb-1">Plans / Recommendations:</h2>
                    <div class="build-details">
                        {{ build.plans | safe }}
                    </div>
                </div>
                <!-- Comment Section and Ability to post a comment -->
                <div class="px-3 py-3 mt-3 mb-5 comment-section">
                    <!-- Displays the comment models stored for the specific build -->
                    {% for comment in comments %}
                            <div class="comment-display px-3 py-2 user-border mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="comment-name my-auto">
                                        {{ comment.name | title }}
                                        <span class="muted-text comment-date ms-2">
                                            {{ comment.comment_date | timesince }} ago
                                        </span>
                                    </p>
                                    {% if user.is_authenticated and user.is_staff or user.username == comment.name %}
                                    <a href="#deleteComment{{ comment.id }}" class="comment-del" data-bs-toggle="modal"><i class="fa-solid fa-trash-can"></i></a>
                                    <!-- Modal for deleting a comment -->
                                    <div class="modal fade" id="deleteComment{{ comment.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content mx-3">
                                            <div class="modal-header">
                                              <h3 class="modal-title" id="staticBackdropLabel">Are you sure?</h3>
                                              <a href="" data-bs-dismiss="modal" class="btn-close-modal"><i class="fa-solid fa-xmark"></i></a>
                                            </div>
                                            <div class="modal-body">
                                              <p class="muted-text">This comment will be deleted permanently.
                                              </p>
                                            </div>
                                            <div class="modal-footer mt-1">
                                              <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger mx-auto">Delete Comment</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <p>
                                    {{ comment.body }}
                                </p>
                            </div>
                    {% endfor %}
                    <div class="comment-display px-3 py-2 mb-5 user-border text-center">
                        {% if user.is_authenticated %}
                            <form method="post">
                                <p>Leave a comment:</p>
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-user mb-2">Post</button>
                            </form>
                        {% else %}
                        <p class="text-center">If you wish to leave a comment, you must <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}