<!-- Page pagination template to be used when required -->
    <nav aria-label="web-page pagination">
        <ul class="pagination justify-content-center pb-4">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-user btn">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-user btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
