{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Image w/ Showcase Title -->
<div class="container-fluid">
    <div class="row">
        <div class="showcase-hero position-relative">
            <div class="showcase-hero-image">
                <div class="text-center position-absolute bottom-0 start-50 translate-middle-x">
                    <h1 class="display-1 hero-heading">
                        The Showcase
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Description w/ Call-to-Action -->
<section class="py-5 text-center container">
    <div class="row pb-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead muted-text mb-4">
                This is the car meet that you'll never miss! Show off your builds, find inspiration from others and
                connect with like-minded car enthusiasts globally.
            </p>
            {% if user.is_authenticated %}
            <p>
                <a href="#" class="btn btn-user">Post My Build</a>
            </p>
            {% else %}
            <p>
                <a href="#" class="btn btn-user">Become a member</a>
            </p>
            {% endif %}
        </div>
    </div>
</section>

<div class="py-5">
    <div class="container px-5 showcase-container">

        <div class="row row-cols-1 row-cols-xl-2 g-5 align-items-stretch">
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card ">
                        <div class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 25%), url('https://res.cloudinary.com/dgxr5lnrt/image/upload/v1666129414/zo2bw5zklmc7gtbekmal.webp');">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>Ryan's BMW F36</h4>
                                <div class="card-indicator btn-group">
                                    <p><i class="fa-regular fa-heart me-2"></i></p>
                                    <p><i class="fa-solid fa-star purp-bg me-2"></i></p>
                                    <p><i class="fa-regular fa-pen-to-square"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}