{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Showcase Page Hero Image -->
        <div class="showcase-hero position-relative"
            style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url(/static/images/jorge-simmons-unsplash-resized.png);">
            <div class="text-center position-absolute bottom-0 start-50 translate-middle-x mb-1">
                <h1 class="display-1 hero-heading">
                    The Showcase
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}