{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Image w/ Showcase Title -->
<div class="container-fluid">
    <div class="row">
        <div class="showcase-hero position-relative">
            <div class="page-hero-image">
                <div class="text-center position-absolute bottom-0 start-50 translate-middle-x">
                    <h1 class="display-1 hero-heading">
                        The Showcase
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Description w/ Call-to-Action -->
<section class="pt-3 pb-0 text-center container">
    <div class="row pb-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead muted-text mb-4">
                This is the car meet that you'll never miss! Show off your builds, find inspiration from others and
                connect with like-minded car enthusiasts globally.
            </p>
            {% if user.is_authenticated %}
            <p>
                <a href="{% url 'add_build' %}" class="btn btn-user">Post My Build</a>
            </p>
            {% else %}
            <p>
                <a href="{% url 'account_signup' %}" class="btn btn-user">Become a member</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="pt-1">
        <button type="disabled" class="btn-filter-selected">Trending</button>
        <a href="{% url 'showcase' %}" class="btn btn-filter mx-2">Recently Updated</a>
        {% if user.is_authenticated %}
            <a href="{% url 'saved_builds' %}" class="btn btn-filter">Saved Builds</a>
        {% endif %}
    </div>
</section>

<!-- Card containing build identifiers and showcase image to allow member viewing -->
<div class="py-5">
    <div class="container px-3 showcase-container">
        <div class="row row-cols-1 row-cols-xl-2 g-5 align-items-stretch">
            {% for build in build_list %}
            <div class="col">
                <div class="card">
                    <a href="{% url 'build_detail' build.slug %}" class="showcase-image" style="background-image: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(255,255,255,0) 15%), url('{{ build.build_image.url }}');">
                    </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'build_detail' build.slug %}" class="build-card-title"><h4 class="my-auto">{{ build.member }}'s {{ build.make }} {{ build.model }}</h4></a>
                            <div class="card-indicator btn-group my-auto">
                                <a href="#" class="me-3"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}